@import "../../colors.scss";

.home {
    padding: 13px 78px 0;
}

.backArrow {
    color: $ligitBlue;
    margin: 39px 5px 25px;
    cursor: pointer;
    span {
        margin-right: 9px;
    }
}

@media screen and (max-width: 768px) {
    .home .backArrow {
        text-decoration: underline;
    }
}

@media screen and (max-width: 1000px) {
    .home {
        padding: 13px 20px 0;
    }
}