@import "../../colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 78px 0;
    .labelContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;

        span {
            margin: 0 10px 5px;
            text-transform: uppercase;
            color: $ligitBlue;
            font-weight: bold;
            white-space: nowrap;
        }
    }

    .headerIcon {
        white-space: nowrap;

        span {
            margin: 0 10px;
            font-size: 22px;
            color: $lightGreen;
        }
    }
}